				table {
				border-collapse: collapse;
				text: #2d2d2d;
				}

				table{
				 width:0 auto;
				 margin:0 auto;
				 
				}
body {
  background-color: lightgrey;
  color: blue;
}

			
				td{
				border: 1px solid #2d2d2d;
				padding: 10px; 
				word-wrap: break-word;
				}

				th{
				border: 1px solid #2d2d2d;
				padding: 10px; 
				word-wrap: break-word;
				}

				tr{
				border: 1px solid #2d2d2d;
				padding: 10px; 
				word-wrap: break-word;

				}
